* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
    margin: 40px auto;
  }

  .question-container {
    width: 550px;
    border: solid 2px gray;
    margin: 10px auto;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s ease;
    z-index: 1;
    pointer-events: none;
  }

  .question-container:focus {
    outline: 0;
  }

  .question-container .fa-chevron-down,
  .question-container .fa-xmark {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    pointer-events: fill;
  }

  .question-container .fa-xmark,
  .question-container h4 {
    display: none;
  }

  .active.question-container h4 {
    display: block;
    border-top: solid 2px lightgray;
  }

  .active.question-container .fa-chevron-down {
    display: none;
  }

  .active.question-container .fa-xmark {
    display: block;
  }

  .active.question-container {
    background-color: #fff;
  }

  .active.question-container::before {
    content: "\f075";
    font-family: "Font Awesome 5 Free";
    color: blue;
    opacity: 0.1;
    position: absolute;
    font-size: 3.5rem;
    z-index: 0;
  }
